{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "arrowParens": "always",
    "endOfLine": "lf",
    "bracketSameLine": true,
    "jsxSingleQuote": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["tva"]
}
